### GOOD MORNING
#### Today's Topics
- Regular Expressions
- Lambda functions
- map() function
- filter() function

### Regular Expressions
- it is a sequence of characters which defines the search pattern

In [1]:
import re

In [2]:
# ^p....n$
# python --->matched
# picnic ---->not matched
# plane ---->not matched
 # popup ---->not matched
# ppoonn ---->matched

### syntax
- re.methood(pattern,string)

In [5]:
import re

pattern = '^a...e$'
str1 = 'apples'
result = re.match(pattern,str1)
if result:
    print("matched successfulley")
else:
    print("not matched")

not matched

- [],^,*,$,(),{},\,|,+,.
- \A,\s,\D

In [8]:
para = """The Taj Mahal is an ivory-white marble
mausoleum on the southern bank of the river Yamuna in the Indian city of Agra.
It was commissioned in 1632 by the Mughal emperor Shah Jahan
to house the tomb of his favourite wife,
Mumtaz Mahal; it also houses the tomb of Shah Jahan himself""".split()
para

['The',
 'Taj',
 'Mahal',
 'is',
 'an',
 'ivory-white',
 'marble',
 'mausoleum',
 'on',
 'the',
 'southern',
 'bank',
 'of',
 'the',
 'river',
 'Yamuna',
 'in',
 'the',
 'Indian',
 'city',
 'of',
 'Agra.',
 'It',
 'was',
 'commissioned',
 'in',
 '1632',
 'by',
 'the',
 'Mughal',
 'emperor',
 'Shah',
 'Jahan',
 'to',
 'house',
 'the',
 'tomb',
 'of',
 'his',
 'favourite',
 'wife,',
 'Mumtaz',
 'Mahal;',
 'it',
 'also',
 'houses',
 'the',
 'tomb',
 'of',
 'Shah',
 'Jahan',
 'himself']

In [9]:
pattern = '^\d'
import re
for str in para:
    print(re.findall(pattern,str))

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
['1']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

### Pattern for finding our given indian number is valid or not valid
- case 1:
    - 10 digits
    - [6-9] -starting
- case 2:
    - +91 strated with
    - 10 numbers
    - [6-9]
- case 3
    - starts with 0
    - [6-9]
    - 10 numbers

In [13]:
mbno = input('enter no')
pattern = '^[6-9]\d{9}$|^[+][9][1][6-9]\d{9}$'

verify = re.match(pattern,mbno)
if verify:
    print("valid")
else:
    print("invalid")

enter no+919912098765
valid

In [14]:
## Find the email is valid or not

### Lambda function
- syntax -->lambda arguments:expression

In [16]:
sqrt = lambda a:a**2
sqrt(22)

484

In [17]:
#map()
#map(function name,iterable)

In [20]:
def sqrt1(n):
    return n**2
sqrt1(2)

4

In [19]:
def sqrt1(n):
    return n**2

a = [1,2,3,4,5,6,7,8,9,10]

list(map(sqrt1,a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
tuple(map(sqrt1,a))

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [23]:
list(map(lambda n:n**2,a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]