## GOOD AFTERNOON
### 04-03-2021
- Conditional statements
- Iterations
- break statement
- continue statement

# conditional statements
#### Types of conditional statements
- if statement
- if-else statement
- nested if statemnet

In [1]:
# if statement
# syntax
# if expression:
    # statement 1
    # statement

In [3]:
num=int(input("enter the number"))
if num%2 == 0:
    print("the number i was is true")

enter the number7

In [5]:
num=int(input("enter the number"))
if num%2 == 0:
print("the number i was is true")

IndentationError: expected an indented block (<ipython-input-5-cbc89933612a>, line 3)

In [7]:
num=int(input("enter the number"))
if num%2 == 0:
    print("the number i was is true")
    print("indentation ok")
print("out of indentation")

enter the number54
the number i was is true
indentation ok
out of indentation

In [8]:
if num%2==0:
    print("true")
else:
    print("false")

true

In [9]:
if num%2==0:
    print("true")
else:
    print("false")
print("if-else statement")

true
if-else statement

In [10]:
n=int(input("enter the number"))
if n%2==0:
    print("true")
else:
    print("false")
print("if-else statement")

enter the number67
false
if-else statement

In [11]:
# nested if--->elif
# if exp1:
    # block of code
# elif exp2:
    # block of code
# else:
    #block of code

In [15]:
marks = int(input(" "))
if marks >= 85 and marks <=100:
    print("dist")
elif marks > 60 and marks < 85:
    print("first class")
elif marks > 40 and marks <= 60:
    print("second class")
else:
    print("sorry you are fail")

 41
second class

## Iterations
- for loop
- while loop

In [16]:
# for loop syntax
# for iterating_var in squence:
# statemnt(s)

In [18]:
if 10%2==0:
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")
    print("even")

even
even
even
even
even
even
even
even
even
even

In [19]:
s = input("enter string")
for i in s:
    print(i)

enter stringgayathri
g
a
y
a
t
h
r
i

In [21]:
range(5)

range(0, 5)

In [24]:
for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [25]:
for i in range(1,21):
    print(i,end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [26]:
for i in range(1,21):
    print(i,end='\t')

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20

In [27]:
for i in range(1,21):
    print(i,end='+')

1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20+

In [29]:
for i in range(0,21):
    if i%2==0:
        print(i,end=' ')

0 2 4 6 8 10 12 14 16 18 20

In [33]:
for i in range(0,21,2):
    print(i,end=',')

0,2,4,6,8,10,12,14,16,18,20,

In [34]:
for i in range(0,21):
    print(i,end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [35]:
for i in range(20,0,-1):
    print(i,end=',')

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [37]:
# multiplication table
n = input("enter number")
for i in range(1,11):
    print(n,'*',i,'=',n*i)

enter number3
3 * 1 = 3
3 * 2 = 33
3 * 3 = 333
3 * 4 = 3333
3 * 5 = 33333
3 * 6 = 333333
3 * 7 = 3333333
3 * 8 = 33333333
3 * 9 = 333333333
3 * 10 = 3333333333

In [39]:
# print the given number is leap year or not
n1 = int(input("enter n1 number"))
n2 = int(input("enter n2 number"))
for i in range(n1,n2+1):
    if (i%4 ==0 and i % 100 !=0) or i%400==0:
        print(i,end='\t')

enter n1 number100
enter n2 number500
104	108	112	116	120	124	128	132	136	140	144	148	152	156	160	164	168	172	176	180	184	188	192	196	204	208	212	216	220	224	228	232	236	240	244	248	252	256	260	264	268	272	276	280	284	288	292	296	304	308	312	316	320	324	328	332	336	340	344	348	352	356	360	364	368	372	376	380	384	388	392	396	400	404	408	412	416	420	424	428	432	436	440	444	448	452	456	460	464	468	472	476	480	484	488	492	496

In [49]:
s1='Problem Solving With Python 3'

In [50]:
for i in s1:
    print(i,end='')

Problem Solving With Python 3

In [55]:
u=0
l=0
n=0
for i in s1:
    if i.isupper():
        u+=1
    elif i.islower():
        l+=1
    elif i.isdigit():
        n+=1
print("upper case letters are ",u,"lower case letters are",l,"digits are",n)

upper case letters are  4 lower case letters are 20 digits are 1

In [57]:
print("upper case letters are {},lower case letter are {},numbers are {}".format(u,l,n))

upper case letters are 4,lower case letter are 20,numbers are 1

### while loop

In [59]:
# init_variable
# while condition:
# statement 1
# statement 2
# inc/decr

In [60]:
nw = 1
while nw<=50:
    print(nw,end=' ')
    nw+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [62]:
nw = 1
while nw<=50:
    print(nw*5,end=' ')
    nw+=1

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180 185 190 195 200 205 210 215 220 225 230 235 240 245 250

### Break statement

In [66]:
#break;
s2='python'
for i in s2:
    print("statement")
    if i=='h':
        break
    print(i)

statement
p
statement
y
statement
t
statement

In [64]:
i=0
while 1:
    print(i,end=' ')
    i=i+1
    if i==10:
        break;

0 1 2 3 4 5 6 7 8 9

In [69]:
i=0
while 1:
    print(i,end=' ')
    i=i+1
    if i==10:
        break;
print("something")

0 1 2 3 4 5 6 7 8 9 something

### continue

In [70]:
# continue

In [72]:
i=0
while i<20:
    i=i+1
    if i==15:
        continue;
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20

In [73]:
# Nested loops
# for iter_var in sequence:
    # for iter_var in sequencce:
        # statements 1
        # statement 2

In [74]:
# while expression:
    # while expression:
        #statement 1

In [76]:
# 
##
###
####
#####

In [78]:
for i in range(1,6):
    for j in range(i):
        print(j,end=' ')
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [80]:
for i in range(1,6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *