# Python data structures

- List
- Tuple
- Dictionary
- Set

## List 

List is Mutable (we can Change)

List non homogeneous (differnt elements)

list allows duplicate values.

In [2]:
# to define list we can use [] or list() 
# to seperate each we need to ","

a = []
b = list()
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [3]:
s = "abcdef"
list(s)

['a', 'b', 'c', 'd', 'e', 'f']

In [6]:
list((1,2,3,4))

[1, 2, 3, 4]

In [7]:
numbers = list(range(10))

In [9]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
names = ['satya', 'archana', 'sukanya','venkatesh']
names

['satya', 'archana', 'sukanya', 'venkatesh']

In [12]:
# store different data 
d = ['a', 12, 2.3, 'string', numbers, [1,2,3]]
d

['a', 12, 2.3, 'string', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3]]

In [16]:
p = [1,2,3.32,'sa', 'k', a]
p

[1, 2, 3.32, 'sa', 'k', []]

#### List Indexing
- **Positive Or Forward indexing**
   - 0 to length-1
- **Negative Or Reverse Indexing**
   - -(length) to -1

In [17]:
names

['satya', 'archana', 'sukanya', 'venkatesh']

In [19]:
names[2]

'sukanya'

In [20]:
names[-2]

'sukanya'

In [21]:
d

['a', 12, 2.3, 'string', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3]]

In [24]:
d[3][2]

'r'

In [25]:
d[4][4]

4

In [26]:
d[4][5]

5

In [27]:
d[4][-1]

9

In [28]:
d[-1][-1]

3

#### List Slicing

`list[start:endvalue:step]`

In [31]:
names

['satya', 'archana', 'sukanya', 'venkatesh']

In [32]:
names[:2]

['satya', 'archana']

In [33]:
names[::2]

['satya', 'sukanya']

In [34]:
# to get the length of a list by using len()
len(numbers)

10

In [35]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
len(names)

4

In [37]:
sum(numbers)

45

In [38]:
d

['a', 12, 2.3, 'string', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3]]

In [39]:
sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
names

['satya', 'archana', 'sukanya', 'venkatesh']

In [41]:
sum(names)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
''.join(names)

'satyaarchanasukanyavenkatesh'

In [43]:
" ".join(names)

'satya archana sukanya venkatesh'

In [44]:
"@".join(names)

'satya@archana@sukanya@venkatesh'

In [45]:
'_'.join('APSSDC')

'A_P_S_S_D_C'

In [46]:
sort(numbers)

NameError: name 'sort' is not defined

In [48]:
numbers.sort()
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
sorted([2,34,54,67,76])

[2, 34, 54, 67, 76]

In [50]:
min(numbers)

0

In [52]:
min(names)

'archana'

In [53]:
max(names)

'venkatesh'

In [54]:
print(dir([]))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [55]:
names

['satya', 'archana', 'sukanya', 'venkatesh']

In [56]:
names.append('haripriya')

In [57]:
names

['satya', 'archana', 'sukanya', 'venkatesh', 'haripriya']

In [58]:
d

['a', 12, 2.3, 'string', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3]]

In [59]:
d.clear()

In [60]:
d

[]

In [61]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
numbers.clear(1)

TypeError: clear() takes no arguments (1 given)

In [63]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
numbers.remove(1)

In [65]:
numbers

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
d = [21,3,45,565,5,'dshfh']

In [67]:
d.remove(21)

In [68]:
d

[3, 45, 565, 5, 'dshfh']

In [69]:
d.pop(0)

3

In [70]:
d.pop()

'dshfh'

In [71]:
# copy
d

[45, 565, 5]

In [72]:
h = d

In [73]:
h

[45, 565, 5]

In [74]:
d.append(333)

In [75]:
d

[45, 565, 5, 333]

In [76]:
h

[45, 565, 5, 333]

In [77]:
f= d.copy()

In [78]:
f

[45, 565, 5, 333]

In [79]:
d

[45, 565, 5, 333]

In [80]:
d.append(99)

In [81]:
d

[45, 565, 5, 333, 99]

In [82]:
f

[45, 565, 5, 333]

In [83]:
#Extend
names

['satya', 'archana', 'sukanya', 'venkatesh', 'haripriya']

In [84]:
names.append('divya','gayatri')

TypeError: append() takes exactly one argument (2 given)

In [85]:
names.extend(['divya','gayatri'])

In [86]:
names

['satya', 'archana', 'sukanya', 'venkatesh', 'haripriya', 'divya', 'gayatri']

In [89]:
w = list("apssdc") + list("online")

In [90]:
list("apssdc")

['a', 'p', 's', 's', 'd', 'c']

In [91]:
w.count('a')

1

In [92]:
names.index('archana')

1

In [97]:
char = list('sahdjhsgfjdhsgfhsgfejwgrycbnbcddsnbbsdhjrwej')

In [100]:
print(char)

['s', 'a', 'h', 'd', 'j', 'h', 's', 'g', 'f', 'j', 'd', 'h', 's', 'g', 'f', 'h', 's', 'g', 'f', 'e', 'j', 'w', 'g', 'r', 'y', 'c', 'b', 'n', 'b', 'c', 'd', 'd', 's', 'n', 'b', 'b', 's', 'd', 'h', 'j', 'r', 'w', 'e', 'j']

In [101]:
char.index('s',30,len(char)-1)

32

In [102]:
names

['satya', 'archana', 'sukanya', 'venkatesh', 'haripriya', 'divya', 'gayatri']

In [103]:
names.insert(0,'alekhya')

In [105]:
print(names)

['alekhya', 'satya', 'archana', 'sukanya', 'venkatesh', 'haripriya', 'divya', 'gayatri']

In [106]:
numbers

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
numbers.reverse()

In [108]:
numbers

[9, 8, 7, 6, 5, 4, 3, 2, 0]

In [109]:
sorted(numbers)

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
numbers

[9, 8, 7, 6, 5, 4, 3, 2, 0]

In [111]:
num_list = [23,89,1,56]

In [112]:
sorted(num_list)

[1, 23, 56, 89]

In [113]:
num_list

[23, 89, 1, 56]

In [114]:
num_list.sort()

In [115]:
num_list

[1, 23, 56, 89]

In [116]:
num_list = [23,89,1,56]

In [118]:
sorted(num_list, reverse=False)

[1, 23, 56, 89]

In [119]:
sorted(num_list, reverse=True)

[89, 56, 23, 1]

In [120]:
names

['alekhya',
 'satya',
 'archana',
 'sukanya',
 'venkatesh',
 'haripriya',
 'divya',
 'gayatri']

In [122]:
for name in names:
    if len(name) > 5:
        print(name)

alekhya
archana
sukanya
venkatesh
haripriya
gayatri

In [123]:
for i in names:
    if i[-1] == "a":
        print(i)

alekhya
satya
archana
sukanya
haripriya
divya

In [124]:
for i in names:
    if i.endswith('a'):
        print(i)

alekhya
satya
archana
sukanya
haripriya
divya

In [125]:
digit_list = [1,20,'apssdc',[9,8,2],90,67] 
# output = 197

In [126]:
for I in digit_list:
    Sum=0
    If type(l[I]) ==int:
        Sum=sum+l[i]
    If type(l[I]) ==list:
          If type(l[I][I]) ==int:
                Sum=sum+l[I][I]
Sum

SyntaxError: invalid syntax (<ipython-input-126-9de09dafda18>, line 3)