# Python Basics 
- Print()
- Input()
- key words in python

## print()

In [2]:
help(print())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [4]:
print("displaying value",100,1000,10000,1.2,'sting','abcd',672367,547885768,478768743)

displaying value 100 1000 10000 1.2 sting abcd 672367 547885768 478768743

In [5]:
print("displaying value",100,1000,10000,1.2,'sting','abcd',672367,547885768,478768743,sep=':::')

displaying value:::100:::1000:::10000:::1.2:::sting:::abcd:::672367:::547885768:::478768743

In [6]:
print("displaying value",100,1000,10000,1.2,'sting','abcd',672367,547885768,478768743,sep="\n")

displaying value
100
1000
10000
1.2
sting
abcd
672367
547885768
478768743

In [7]:
print('line 1')
print('line 2')
print('line 3')

line 1
line 2
line 3

In [8]:
print('line 1', end="||")
print('line 2',end='--')
print('line 3',end ='aa')

line 1||line 2--line 3aa

## input()

In [9]:
input('enter any value : ')

enter any value : 147

'147'

In [11]:
input()

apssdc

'apssdc'

In [12]:
input()

[1,2,4,5,6]

'[1,2,4,5,6]'

In [13]:
_

'[1,2,4,5,6]'

In [14]:
7632

7632

In [15]:
_

7632

## identifiers

nothing but a variable which are used to represent values, classes, functons and methods

rules :
- identifiers cannot starts with dgits 
- it contains alphanumaric form Exp : a1,_a23, A1
- it cannot contain any special characters other than "__

In [16]:
a = input('enter A value :')

enter A value :12543

In [17]:
a

'12543'

In [18]:
type(a)

str

### Type Conversion

In [20]:
print(type(a),a)

<class 'str'> 12543

In [21]:
a = int(a)

In [22]:
type(a)

int

In [23]:
b = '1234t'

In [24]:
type(b)

str

In [25]:
int(b)

ValueError: invalid literal for int() with base 10: '1234t'

## key words
#### characters into values

In [27]:
c = 'a'
ord(c)

97

In [28]:
ord('A')

65

In [29]:
ord('Z')

90

In [30]:
chr(97)

'a'

In [31]:
chr(101)

'e'

### Number  Systems

In [34]:
r = bin(10)
r

'0b1010'

In [35]:
type(r)

str

In [36]:
hex(10)

'0xa'

In [37]:
oct(10)

'0o12'

In [38]:
# bin to decimal 
int('1010',2)

10

In [39]:
# octl to deimal 
int('1010',8)

520

In [40]:
# hexa to decimal 
int('1010', 16)

4112

In [42]:
# float 
a = 1.2334

In [43]:
type(a)

float

In [44]:
float(100)

100.0

In [45]:
keywords

NameError: name 'keywords' is not defined

In [47]:
import keyword

In [86]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [49]:
key

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### data types
- numberd - int , float , camplex 
- char - strings
- boolean - True , Flase
- List 
- Tuples 
- Dict 
- set

In [50]:
type(2+3i)

SyntaxError: invalid syntax (<ipython-input-50-536aa4f08c52>, line 1)

In [51]:
import cmath

In [55]:
a = complex(1+9)

In [56]:
a

(10+0j)

In [57]:
type(a)

complex

In [58]:
a.real

10.0

In [59]:
a.imag

0.0

###  Boolean

In [60]:
True

True

In [61]:
False

False

### Operators in python 
1. Airthemetical 
2. Logical
3. Relational Operators 
 
#### 1. Airthemetical 
    1. addition `+`
    2. Subtraction `-`
    3. Multipication `*`
    4. division `/` --> normal division `//` --> floor division
    5. mudulus `%`
    6. power `**`

In [62]:
val1 = 10
val2 = 2
print(val1 + val2)
print(val1 - val2)
print(val1 / val2)
print(val1 * val2)
print(val1 // val2)
print(val1 ** val2)

12
8
5.0
20
5
100

### Logical Operators 
- And
- Or
- Not

In [63]:
a = 100
b = 200

In [64]:
a and b

200

In [65]:
True and True

True

In [67]:
False and True

False

In [68]:
c = 0

In [71]:
a and c

0

In [72]:
print(True and False)
print(False and True)

False
False

![aaa]()

In [73]:
![]()

'[]' is not recognized as an internal or external command,
operable program or batch file.

In [75]:
v = 'a'*100

In [84]:
b = 76762564352463563572656753472367*121239787878786767676565676767676775666564587878787788787787767676766776

In [85]:
b

9306677019124401178675683633962134498426310157069743237066660142477955824746814706199447936609619678792

![image](img.png)

In [87]:
a = 100

In [88]:
n = 100

In [90]:
id(a)

1807154656

In [91]:
id(n)

1807154656

<a href="https://www.w3schools.com">Visit W3Schools.com!</a>

<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table>